{% extends "petitions/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Thank you!" %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-12 column">
            <h1>{% trans "Confirmed!" %}</h1>

            <p>{% trans "Your signature was successfully added. Thank you for your support." %}</p>

            <p>
                <a href="https://twitter.com/share" 
                   class="twitter-share-button"
                   data-size="large" 
                   data-text="I signed this @WEDF_Foundation open letter for more ethical AI - will you?"
                   data-url="https://openletter.worldethicaldata.org/en/openletter/" 
                   data-dnt="true"
                   data-via="WEDF_Foundation"
                   data-show-count="false">Tweet you signed!</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>

            <p><a href="/en/openletter/">{% trans "Back to the open letter" %}</a></p>
        </div>
    </div>
{% endblock %}
