{% extends "petitions/layout.html" %}
{% load i18n %}

{% block title %}{% trans "Sign the open letter!" %}{% endblock %}

{% block content %}
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}

    <form id="language_form" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">
        <select name="language">
        {% for language in languages %}
            <option value="{{ language.code }}">{{ language.name_local }}</option>
        {% endfor %}
        </select>
    </form>

    {% comment %}
    <div class="row language-switcher">
        <ul class="languages">
        {% for language in languages %}
            <li><a href="#" data-language-code="{{ language.code }}"><img src="/static/images/flags/{{ language.code }}.png"> {{ language.name_local }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endcomment %}

    <div class="row header">
        <div class="small-12 medium-8 column logo">
            <p><a href="https://worldethicaldata.org" target="_blank">
                <img src="/static/images/logo.png" alt="WEDF" style="width: 381px; height: auto;">
            </a><p>
        </div>
    </div>
    
    <div class="row">
        <div class="small-12 medium-8 column the-letter">            
            {{ letter_text|safe }}

            <hr>

            <div class="signatures">
                <h4>{% trans "Signatures:" %}</h4>

                {% for sig in initial_signatures %}
                    <div class="row">
                        <div class="small-12 column">
                            <p class="signame">{{ sig.name }}<br><span class="affil">{% if sig.job_title %}{{ sig.job_title }} - {% endif %}{{ sig.affiliation }}</span></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
                
            <div id="signatures_box">
                <button id="signatures_more">{% trans "Load more signatures..." %}</button>
                
                <div class="signatures">
                    {% for sig in signatures %}
                    <div class="row">
                        <div class="small-12 column">
                            <p class="signame">{{ sig.name }}<br><span class="affil">{% if sig.job_title %}{{ sig.job_title }} - {% endif %}{{ sig.affiliation }}</span></p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="small-12 medium-4 column the-forms">
            <div class="num-sigs-box">
                <div class="num-sigs">{{ petition.signatures }}</div>
                <div class="num-sigs-label">{% trans "Signatures" %}</div>
            </div>

            <div id="accordion_forms">
                <h2>Support - Sign the open letter</h2>
                
                <div class="form-panel">
                    <p>{% trans "Show your support by adding your signature:" %}</p>
        
                    <form action="{% url 'sign' %}" method="post">
                        {% csrf_token %}
                        {{ form }}
        
                        <input type="submit" value="{% trans "Add!" %}" class="button radius btn-success">
                    </form>
        
                    <div class="notice">
                        <p><small>Fields marked with * are required. 
                        {% blocktrans %}
                        Your e-mail address will not be stored by the system, and
                        will only be used to send you an e-mail once, with a
                        confirmation link to confirm your signature.
                        {% endblocktrans %}</small></p>
                    </div>
                </div>
    
                <h2>{% trans "Engage - Talk to the community" %}</h2>
    
                <div class="form-panel">
                    <p>{% trans "Here you can ask the AI community any questions you may have about how AI works. You can also make suggestions, corrections or comments to improve this document." %}</p>
        
                    <form action="{% url 'suggest' %}" method="post">
                        {% csrf_token %}
                        {{ suggestion_form }}
        
                        <input type="submit" value="{% trans "Make suggestion" %}" class="button radius btn-success">
                    </form>
        
                    <div class="notice">
                        <p><small>Fields marked with * are required.</small></p>
                    </div>
                </div>

                <h3>{% trans "Collaborate - Iterate on GitHub" %}</h3>

                <div class="form-panel">
                    <p>
                        This letter is also hosted on <a href="https://github.com/WEDFoundation/me-we-it-ai" target="_blank">Github</a> to 
                        facilitate collaboration. Submit a pull request with any proposed edits.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
