{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/foundation.min.css" type="text/css">
        <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/static/js/jquery-ui-1.13.2.custom/jquery-ui.theme.min.css" type="text/css">
        <link rel="stylesheet" href="/static/js/jquery-ui-1.13.2.custom/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@WEDF_Foundation">
        <meta name="twitter:creator" content="@WEDF_Foundation">
        <meta name="twitter:title" content="Sign the AI Open Suggestions Letter">
        <meta name="twitter:description" content="In the wake of a great deal of hype and scare-mongering about 'AI', we've designed, with several partners an Open Suggestion framework for 'AI' that we hope is a great starting point for guidance. Please become a signatory to help drive AI towards more ethical future.">
        <meta name="twitter:image" content="https://openletter.worldethicaldata.org/static/images/socials_image.jpg">
        <meta property="twitter:domain" content="openletter.worldethicaldata.org">
        <meta property="twitter:url" content="https://openletter.worldethicaldata.org/en/openletter/">

        <meta property="og:url" content="https://openletter.worldethicaldata.org/en/openletter/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Sign the AI Open Suggestion Letter">
        <meta property="og:description" content="In the wake of a great deal of hype and scare-mongering about 'AI', we've designed, with several partners an Open Suggestion framework for 'AI' that we hope is a great starting point for guidance. Please become a signatory to help drive AI towards more ethical future.">
        <meta property="og:image" content="https://openletter.worldethicaldata.org/static/images/socials_image.jpg">
    </head>
    <body>
        {% block content %}{% endblock %}
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/static/js/app.js"></script>
    </body>
</html>
